.category {
    padding-bottom: 1rem;
}
.category-image {
  height: 15rem;
  width: 14rem;
}
.category-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 1rem 0;
}
.category-btn{
    background-color: var(--primary-color);
    width: 100%;
    padding: 8px 9px;
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--white);
}
